#karte1{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte1{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte1{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte2{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte3{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte4{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte5{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte6{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte7{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte8{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte9{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte10{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte11{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte12{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte13{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte14{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte15{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte16{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte17{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte18{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte19{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte20{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte21{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte22{
	position: absolute;
	top: 700px;
	left: 220px;
	
}
#karte23{
	position: absolute;
	top: 700px;
	left: 220px;
	
}






/*2018*/

#Zpin1
{
	position: absolute;
	top: 840px;
	left: 660px;
	margin-bottom: 100px;
	z-index:2;
}

#Zpin2
{
	position: absolute;
	top: 830px;
	left: 650px;
	margin-bottom: 100px;
	z-index:2;
}

#Zpin3
{
	position: absolute;
	top: 870px;
	left: 360px;
	margin-bottom: 100px;
	z-index:2;
}

#Zpin4
{
	position: absolute;
	top: 870px;
	left: 390px;
	margin-bottom: 100px;
	z-index:2;
}

#Zpin5
{
	position: absolute;
	top: 870px;
	left: 710px;
	margin-bottom: 100px;
	z-index:2;
}

/*2010*/

