/* Generelle Selektoren */

html {
	font-family: 'Muli', sans-serif;
}

body {
	margin: -1px;
	overflow-x: hidden;
}

section {
	border-bottom: thin solid;
	border-width: 2px;
	border-color: #0c2659ff;
}

p {
	font-size: 1.3em;
	font-color: #0c2659ff;
	margin-top: 0.5%;;
}


.infosection {
	padding: 50px;	
}

h2 {
	font-size: 1.6em;
	font-color: #0c2659ff;
	margin-top: 1.5%;
	margin-bottom: 2.5%;

}

/* Homepage */ 

#landingpage {
	font-family: 'Gloria Hallelujah', cursive;
	background-image: url(https://sftp.hs-furtwangen.de/~arndtcat/EIA1/UXDesign/Papagei_1.png);
	background-size: 45%;
	background-repeat: no-repeat;
	background-color: #84c7ff;
	background-width: 65%;
	margin-top: -2%;
	height: 650px;
	background-position: center;
}

#down {
	position: absolute;
	top: 550px;
	left: 625px;
	z-index: 2;
}

#downline {
	position: absolute;
	top: 550px;
	width: 100%;
	height: 80px;
	background-color: white;
	opacity: 0.45;
}

#t1 {
	margin: 0px;
	font-size: 98px;
	padding-top: 10%;
	text-align: center;
	color: #fff714;
	font-weight: bold;
	text-shadow: 3px 3px #baac1a;
}

#t2 {
	margin: 0px;
	font-size: 64px;
	padding-top: 20px;
	text-align: center;
	color: #fff714;
	font-weight: bold;
	text-shadow: 3px 3px #baac1a;
}


/* Navigation */

#navbar {
  display: inline;
  float: left;
  padding-top: -1%;
  height: 43px;
  padding: 1%;
  padding-top: 0.275%;
  border-bottom: thin solid;
  border-color: #0c2659ff;
  border-width: 2px;
  box-shadow: 0px 10px 11px -1px rgba(223,228,235,1);
  background-color: white;
  z-index: 6;
  width: 100%;
}
 
#navbar a {
    display: inline;
	float: left;
	padding-top: -1%;
	padding-left: 200px;
	text-decoration: none;
	margin-bottom: 10%;
	color: #0c2659ff;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* Kartenbereich */


#bothmaps {
	display: inline;
	height: 100%;
}

#map {
	z-index: 2;
	border-style: none;
	width: 60%;
	margin-left: 20%;
	margin-top: -7%;
	background-color: white;
}

#pin {
	position: absolute;
	top: 142%;
	left: 50%;
}

#geschichte {
	position: absolute;
	display: none;
	background-color: #ddb00dff;
	border-style: thin solid;
	border-color: white;
	top: 130%;
	left: 53%;
	overflow: scroll;
	overflow-x: hidden;
	height: 200px;
	width: 450px;
}

#geschichte > p {
	font-size: 0.95em;
	padding: 2%;
}

#portrait {
	padding: 2%;
}

#pin:hover + #geschichte {
	display: inline;
}

#map2 {
	z-index: 0;
	border-style: none;
	width: 60%;
	margin-left: 20%;
	margin-top: -7%;
	display:none;
}

.switch {
	display: inline;
}

#zzk {
	position: absolute;
	top: 735px;
	z-index: 2;
}

#zpk {
	position: absolute;
	top: 735px;
	z-index: 0;
}

.map {
	position: absolute;
	top: 700px;
	left: 220px;
	margin: 0px;
}

#mapsIcon {
	padding: 0.2%;
	width: 15%;
	margin: none;
	display: inline;
}

/* Slider */

.slidecontainer {
  width: 80%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #ddb00dff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #0c2659ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #0c2659ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


/* Memory */
.flip-card-up{
	float:down;
}

.flip-card {
  display: inline;
  float: left;
  background-color: transparent;
  width: 205px;
  height: 205px;
  margin: 20px;
  margin-top: 2px;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
	float: left;
	width: 205px;
	height: 205px;
	background-color: #ddb00dff;
	color: #0c2659ff;
}

.flip-card-back {
	float: left;
	width: 205px;
	height: 205px;
	background-color: #0c2659ff;
	color: #ddb00dff;
    transform: rotateY(180deg);
}

#memory {
	height: 430px;
	display: grid;
}

/* News */

#newsbox {
	width: 70%;;
	height: 450px;
	border-style: thin solid;
	border-color: #0c2659ff;
	background-color: #ddb00dff;
	font-size: 1.1em;
	overflow: scroll;
	overflow-x: hidden;
}

.newstext {
	width: 90%;
	font-size: 1.2em;
}

img alt[alt="Platzhalter"] {
	display: inline;
}
.ph {
	display: inline;
}


.artikel {
	padding: 2%;
}



/* Orgabox */

#orgabox {
	width: 70%;;
	height: 450px;
	border-style: thin solid;
	border-color: #ddb00dff;
	background-color: #0c2659ff;
	overflow: scroll;
	overflow-x: hidden;
}

.newstext2 {
	width: 90%;
	font-size: 1.2em;
	color: #ddb00dff;
}

div > a {
	color: white;
}

/* Einsendungen */

#name {
	margin-bottom: 2%;
}

#text {
	margin-bottom: 2%;
}

#submittext {
	font-size: 1.8em;
	font-color: #0c2659ff;
	margin-top: -40px;	
}

#submitbutton {
	background-color: #0c2659ff;
	border: none;
	color: #ddb00dff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.1em;
}


/* Footer */

#footer {
	background-color: #ddb00dff;
	height: 120px;
}


.column > p {
	font-size: 1.1em;
	padding-top: 3.5%;
	width: 38%;
}

.column {
	width: 15%;
	padding: 1%;
	padding-top: 2%;
	float: left;
	margin: 0px;
}

#c1 {
	margin-left: 220px;
	margin-right: 80px;
}

#c2 {
	width: 30%;
}


/* Responsive Höhe der Sections */

.header-14-sub {
  position: relative;
  padding-top: 95px;
  padding-bottom: 95px;
  min-height: 500px; /* set default height */
}


@media (max-width: 480px) {
.header-14-sub {min-height: 350px;}
}

@media (min-width: 481px) and (max-width: 767px) {
.header-14-sub {min-height: 550px;}
}

@media (min-width: 768px) and (max-width: 979px) {
.header-14-sub { min-height: 750px;}

	
}

@media (min-width: 1200px) {
.header-14-sub {min-height: 1250px;}
}

@media (max-width: 1100px) {
	#memory {
		height: 640px;
		display: block;
	}
}
@media (max-width: 850px) {
	#memory {
		height: 960px;
		display: block;
	}
}
